doctype html 
html
    head 
        title Shreya's Dance
        style
            include ../static/style.css
    body.bg
        nav#navbar
            ul
                div#logo
                    img(src="../static/logo.jpg")
                    
                li #[a(href="/") Home]
                li #[a(href="/") About Us]
                li #[a(href="/") Classes]
                li #[a(href="/") Dance Forms]
                li #[a(href="/") Contact Us]
            
        section#introSection
            div.wc Welcome to Shreya's Dance Academy
            p "Shreya’s Dance" is a cultural academy devoted to the art of Shastriya Nritya — Indian Classical Dance. We nurture talent through disciplined training, expressive storytelling, and devotion to tradition. Guided by the principles of the Natya Shastra, our academy offers classes in Bharatanatyam, Kathak, Odissi, Kuchipudi, and Mohiniyattam, blending classical technique with creative expression. At Shreya’s Dance, every performance becomes a reflection of grace, rhythm, and spirituality — where tradition meets passion. Every step tells a story, every movement celebrates culture.
        
        
        section#aboutSection
            h1 About Us
            div.card
                h2 Our Mission
                ul 
                    li Preservation of heritage
                    li Storytelling and devotion
                    li Holistic development of practitioners
            div.card
                h2 Our Vision
                ul 
                    li Express the divine and spiritual principles
                    li Integrate art, science, and philosophy
                    li Celebrate cultural identity 
        h1.h Dance Forms
        section#classesSection
            
            div.cardi
                h3 Bharatanatyam
                div.card-box
                    div.card-img
                        img(src="../static/img/Bharatanatyam.jpg")
                    div.card-content
                        p Bharatanatyam is an Indian classical dance form that comes from Tamil Nadu, India. It is a classical dance expresses South Indian religious themes and spiritual ideas.
            div.cardi
                h3 Kathak
                div.card-box
                    div.card-img
                        img(src="../static/img/Kathak.jpg")
                    div.card-content 
                        p Kathak origin is attributed to the traveling bards in ancient northern India known as Kathakar ("storyteller"), who communicated stories from the Hindu epics through dance, songs, and music.
            div.cardi
                h3 Kathakali
                div.card-box
                    div.card-img
                        img(src="../static/img/Kathakali.jpg")
                    div.card-content 
                        p Kathakali is a traditional form of Indian Classical Dance, and one of the most complex forms of Indian theatre. It is native to the Malayalam-speaking state of Kerala and is almost entirely practiced by Malayali people.
            div.cardi
                h3 Kuchipudi
                div.card-box
                    div.card-img
                        img(src="../static/img/Kuchipudi.jpg")
                    div.card-content 
                        p Kuchipudi is one of the eight major Indian classical dance forms. It originated in Kuchipudi, a village in the Indian state of Andhra Pradesh.
            div.cardi
                h3 Mohiniyattom
                div.card-box
                    div.card-img
                        img(src="../static/img/Mohiniyattom.jpg")
                    div.card-content 
                        p Mohiniyattam is an Indian classical dance form originating from the state of Kerala. The dance gets its name from Mohini—the female enchantress avatar of the Hindu deity Vishnu.
            div.cardi
                h3 Odissi
                div.card-box
                    div.card-img
                        img(src="../static/img/Odissi.jpg")
                    div.card-content 
                        p Odissi also referred to as Orissi in old literature, oldest surviving classical dance of India, is a major ancient Indian classical dance that originated in the temples of Odisha – an eastern coastal state of India.
            div.cardi
                h3 Rasa_Lila
                div.card-box
                    div.card-img
                        img.g(src="../static/img/Rasa_Lila.jpg")
                    div.card-contentOdissi 
                        p Manipuri dance, sometimes also referred to as the Manipuri Raas Leela, is a jagoi and is one of the major Indian classical dance forms, originating from the state of Manipur.
            div.cardi
                h3 Sattriya
                div.card-box
                    div.card-img
                        img(src="../static/img/Sattriya.jpg")
                    div.card-content 
                        p Sattriya, or Sattriya Nritya, is a major Indian classical dance. It was initially created as part of Bhaona which are performances of Ankiya Nat, one-act plays, originally created by Sankardev, a 15th-16th century polymath from Assam.
        h1.hh Our Classes
        section#sponserSection
            table.class-schedule-table.table
                tbody
                    tr.schedule-day
                        
                        td Somwar
                        td Mangalwar
                        td Budhwar
                        td Guruwar
                        td Shrukrawar
                        td Shaniwar
                        td Raviwar

                    tr
                        
                        td.schedule-title Bharatanatyam
                            span.schedule-time 10:00AM - 12:00PM
                        td.schedule-title Kathak
                            span.schedule-time 10:00AM - 12:00PM
                        td
                        td.schedule-title Kathakali
                            span.schedule-time 10:00AM - 12:00PM
                        td.schedule-title Kuchipudi
                            span.schedule-time 10:00AM - 12:00PM
                        td
                        td.schedule-title Break
                            span.schedule-time 10:00AM - 12:00PM

                    tr
                        
                        td
                        td
                        td.schedule-title Mohiniyattom
                            span.schedule-time 1:00AM - 2:00PM
                        td.schedule-title Odissi
                            span.schedule-time 1:00AM - 2:00PM
                        td
                        td
                        td.schedule-title Kid’s
                            span.schedule-time 1:00AM - 2:00PM

                    tr
                        
                        td.schedule-title Sattriya
                            span.schedule-time 1:00AM - 2:00PM
                        td
                        td
                        td
                        td
                        td.schedule-title Kathakali
                            span.schedule-time 10:00AM - 12:00PM
                        td

                    tr
                        
                        td
                        td.schedule-title Sattriya
                            span.schedule-time 2:00AM - 3:00PM
                        td
                        td
                        td
                        td.schedule-title Rasa_Lila
                            span.schedule-time 04:00AM - 06:00PM
                        td.schedule-title Mohiniyattom
                            span.schedule-time 04:00AM - 06:00PM

                    tr
                        
                        td
                        td
                        td
                        td
                        td.schedule-title Kathak
                            span.schedule-time 10:00AM - 12:00PM
                        td
                        td

                    tr
                        
                        td.schedule-title Kathakali
                            span.schedule-time 04:00AM - 06:00PM
                        td.schedule-title Break
                            span.schedule-time 04:00AM - 06:00PM
                        td.schedule-title Sattriya
                            span.schedule-time 04:00AM - 06:00PM
                        td
                        td.schedule-title Odissi
                            span.schedule-time 04:00AM - 06:00PM
                        td.schedule-title Kuchipudi
                            span.schedule-time 04:00AM - 06:00PM
                        td

                    tr
                        
                        td
                        td
                        td.schedule-title Rasa_Lila
                            span.schedule-time 04:00AM - 06:00PM
                        td
                        td
                        td.schedule-title Sattriya
                            span.schedule-time 6:00AM - 7:00PM
                        td
        //- section#contactSection
        //-     h1.h-primary.center Contact Us
        //-     #contact-box
        //-         form(action='')
        //-         .form-group
        //-             label(for='name') Name: 
        //-             input#name(type='text' name='name' placeholder='Enter your name')
        //-         .form-group
        //-             label(for='name') Email: 
        //-             input#email(type='email' name='name' placeholder='Enter your Email')
        //-         .form-group
        //-             label(for='name') Phone Number: 
        //-             input#phone(type='phone' name='name' placeholder='Enter your Phone Number')
        //-         .form-group
        //-             label(for='name') Message: 
        //-             textarea#message(name='message' cols='30' rows='10')
    
        footer.center
            | Copyright &copy; www.nrityanjali.com All rights reserved!

        script 
            include ../static/script.js
