extends base.pug

block script
    script(src="/static/script.js")
block style
    link(rel="stylesheet", href="/static/style.css")
    link(rel="stylesheet", href="/static/phone.css")
block content
    h1 About Us
    section#aboutSection
        h2 Our Mission
        div.card
            h3 Preservation of heritage
            div.card-box
                div.card-content
                    p The dance forms aim to safeguard traditional values, techniques, and stories passed down through generations.
        div.card
            h3 Storytelling and devotion
            div.card-box
                div.card-content 
                    p Each performance narrates mythological tales and expresses devotion, transforming stories into spiritual and emotional experiences.
        div.card
            h3 Holistic development of practitioners
            div.card-box
                div.card-content
                    p It nurtures physical discipline, emotional balance, and spiritual awareness, leading to complete personal growth.
        div.card
            h3 Cultural outreach and innovation
            div.card-box
                div.card-content 
                    p Through workshops, performances, and fusion forms, classical dance continues to reach new audiences while embracing creative evolution.
        
        h2 Our Vision
        div.card
            h3 Express the divine and spiritual principles
            div.card-box
                div.card-content
                    p Classical dance serves as a medium to connect the performer and audience with divine energy, expressing spirituality through rhythm and movement.
        div.card
            h3 Integrate art, science, and philosophy
            div.card-box
                div.card-content 
                    p It beautifully blends artistic grace, scientific precision of body movements, and philosophical depth, creating a holistic performing art form.
        div.card
            h3 Celebrate cultural identity 
            div.card-box
                div.card-content
                    p Classical dance reflects India’s diverse traditions, languages, and beliefs, promoting pride in cultural heritage and artistic excellence.
    