extends base.pug
block script
    script(src="/static/script.js")
block style
    link(rel="stylesheet", href="/static/style.css")
    link(rel="stylesheet", href="/static/phone.css")
block content 
    h1.h Dance Forms
    section#classesSection
        
        div.cardi
            h3 Bharatanatyam
            div.card-box
                div.card-img
                    img(src="../static/img/Bharatanatyam.jpg")
                div.card-content
                    p Bharatanatyam is an Indian classical dance form that comes from Tamil Nadu, India. It is a classical dance expresses South Indian religious themes and spiritual ideas.
        div.cardi
            h3 Kathak
            div.card-box
                div.card-img
                    img(src="../static/img/Kathak.jpg")
                div.card-content 
                    p Kathak origin is attributed to the traveling bards in ancient northern India known as Kathakar ("storyteller"), who communicated stories from the Hindu epics through dance, songs, and music.
        div.cardi
            h3 Kathakali
            div.card-box
                div.card-img
                    img(src="../static/img/Kathakali.jpg")
                div.card-content 
                    p Kathakali is a traditional form of Indian Classical Dance, and one of the most complex forms of Indian theatre. It is native to the Malayalam-speaking state of Kerala and is almost entirely practiced by Malayali people.
        div.cardi
            h3 Kuchipudi
            div.card-box
                div.card-img
                    img(src="../static/img/Kuchipudi.jpg")
                div.card-content 
                    p Kuchipudi is one of the eight major Indian classical dance forms. It originated in Kuchipudi, a village in the Indian state of Andhra Pradesh.
        div.cardi
            h3 Mohiniyattom
            div.card-box
                div.card-img
                    img(src="../static/img/Mohiniyattom.jpg")
                div.card-content 
                    p Mohiniyattam is an Indian classical dance form originating from the state of Kerala. The dance gets its name from Mohini—the female enchantress avatar of the Hindu deity Vishnu.
        div.cardi
            h3 Odissi
            div.card-box
                div.card-img
                    img(src="../static/img/Odissi.jpg")
                div.card-content 
                    p Odissi also referred to as Orissi in old literature, oldest surviving classical dance of India, is a major ancient Indian classical dance that originated in the temples of Odisha – an eastern coastal state of India.
        div.cardi
            h3 Rasa_Lila
            div.card-box
                div.card-img
                    img.g(src="../static/img/Rasa_Lila.jpg")
                div.card-content 
                    p Manipuri dance, sometimes also referred to as the Manipuri Raas Leela, is a jagoi and is one of the major Indian classical dance forms, originating from the state of Manipur.
        div.cardi
            h3 Sattriya
            div.card-box
                div.card-img
                    img(src="../static/img/Sattriya.jpg")
                div.card-content 
                    p Sattriya, or Sattriya Nritya, is a major Indian classical dance. It was initially created as part of Bhaona which are performances of Ankiya Nat, one-act plays, originally created by Sankardev, a 15th-16th century polymath from Assam.

