extends base.pug

block script
    script(src="/static/script.js")
block style
    link(rel="stylesheet", href="/static/style.css")
    link(rel="stylesheet", href="/static/phone.css")
block content 
            
    section#introSection
        div.wc Welcome to Nrityanjali Academy
        p "Nrityanjali" is a cultural academy devoted to the art of Shastriya Nritya — Indian Classical Dance. We nurture talent through disciplined training, expressive storytelling, and devotion to tradition. Guided by the principles of the Natya Shastra, our academy offers classes in Bharatanatyam, Kathak, Odissi, Kuchipudi, and Mohiniyattam, blending classical technique with creative expression. At Shreya’s Dance, every performance becomes a reflection of grace, rhythm, and spirituality — where tradition meets passion. Every step tells a story, every movement celebrates culture.
        
    