extends base.pug

block script
    script(src="/static/script.js")

block style
    link(rel="stylesheet", href="/static/style.css")
    link(rel="stylesheet", href="/static/phone.css")

block content
    section#signupSection
        h1 Sign Up
        #signup-box
            form(action='/signup', method='POST')
                .form-group
                    label(for='name') Full Name:
                    input#name(type='text', name='name', placeholder='Enter your full name')
                .form-group
                    label(for='email') Email:
                    input#email(type='email', name='email', placeholder='Enter your email')
                .form-group
                    label(for='phone') Phone Number:
                    input#phone(type='tel', name='phone', placeholder='Enter your phone number')
                .form-group
                    label(for='password') Password:
                    input#password(type='password', name='password', placeholder='Enter password')
                .form-group
                    label(for='confirm_password') Confirm Password:
                    input#confirm_password(type='password', name='confirm_password', placeholder='Confirm password')
                .form-group.center-btn
                    button.btn(type='submit') Sign Up
                p.center-text
                    | Already have an account? 
                    a(href="/login") Login
