extends base.pug
block script
    script(src="/static/script.js")
block style
    link(rel="stylesheet", href="/static/style.css")
    link(rel="stylesheet", href="/static/phone.css")
block content 
    section#sponserSection
        h1 Our Classes
        table.class-schedule-table.table
            tbody
                tr.schedule-day
                    
                    td Somwar
                    td Mangalwar
                    td Budhwar
                    td Guruwar
                    td Shrukrawar
                    td Shaniwar
                    td Raviwar

                tr
                    
                    td.schedule-title Bharatanatyam
                        span.schedule-time 10:00AM - 11:00PM
                    td.schedule-title Kathak
                        span.schedule-time 10:00AM - 11:00PM
                    td.schedule-title -
                        
                    td.schedule-title Kathakali
                        span.schedule-time 10:00AM - 11:00PM
                    td.schedule-title Kuchipudi
                        span.schedule-time 10:00AM - 11:00PM
                    td.schedule-title -
                    td.schedule-title Sattriya
                        span.schedule-time 10:00AM - 11:00PM

                tr
                    
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title Mohiniyattom
                        span.schedule-time 11:00AM - 12:00PM
                    td.schedule-title Odissi
                        span.schedule-time 11:00AM - 12:00PM
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title Kid’s
                        span.schedule-time 11:00AM - 12:00PM

                tr
                    
                    td.schedule-title Sattriya
                        span.schedule-time 12:00AM - 1:00PM
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title Kathakali
                        span.schedule-time 12:00AM - 1:00PM
                    td.schedule-title -

                tr
                    
                    td.schedule-title -
                    td.schedule-title Sattriya
                        span.schedule-time 2:00AM - 3:00PM
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title Rasa_Lila
                        span.schedule-time 2:00AM - 2:00PM
                    td.schedule-title Mohiniyattom
                        span.schedule-time 2:00AM - 3:00PM

                tr
                    
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title Kathak
                        span.schedule-time 3:00AM - 4:00PM
                    td.schedule-title -
                    td.schedule-title -

                tr
                    
                    td.schedule-title Kathakali
                        span.schedule-time 4:00AM - 5:00PM
                    td.schedule-title Mohiniyattom
                        span.schedule-time 4:00AM - 5:00PM
                    td.schedule-title Sattriya
                        span.schedule-time 4:00AM - 5:00PM
                    td.schedule-title -
                    td.schedule-title Odissi
                        span.schedule-time 4:00AM - 5:00PM
                    td.schedule-title Kuchipudi
                        span.schedule-time 4:00AM - 5:00PM
                    td.schedule-title -

                tr
                    
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title Rasa_Lila
                        span.schedule-time 5:00AM - 6:00PM
                    td.schedule-title -
                    td.schedule-title -
                    td.schedule-title Sattriya
                        span.schedule-time 5:00AM - 6:00PM
                    td.schedule-title -